<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta content="no-cache" http-equiv="pragma">
		<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
        <title>陆鲸-Demo</title>
		<!-- css引入 -->
		<link rel="stylesheet" href="../../css/common/reset-min.css" />
		<link rel="stylesheet" href="../../css/common/common.css" type="text/css"  />
	</head>
	<body class="body-bg">
		<!--头部-->
		<div class="body-top">
			<div class="bt-fdiv">
				<div class="bt-div1">
					<div class="bt-info">
						<span>您好！欢迎访问传化陆鲸</span>
						<span class="font-blue">13588276748</span>
						<span class="font-blue">退出</span>
					</div>
					<div class="bt-menu">
						<ul>
							<li>返回首页</li>
							<li>会员中心</li>
							<li>收单宝</li>
							<li>我的钱包</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bt-bdiv">
				<div class="bt-div1 bt-ownerdiv">
					<i class="bt-owner"></i>
					<!--<div class="bt-service">
						<span>服务时间：8:30-17:30（节假日照常服务）</span>
						<span class="font-blue font-bold">400-866-5566</span>
					</div>-->
					<div class="bt-btn">
						<span class="font-blue">首页</span>
						<span class="d-click">移动端下载</span>
						<span class="d-click">桌面端下载</span>
						<span class="yw-btn d-click">业务中心</span>
					</div>
				</div>
			</div>
		</div>
		<!--主体-->
		<div class="body-main">
			<!--菜单-->
			<div class="body-menu">
				<p>发布货源</p>
				<ul>
					<li>信息发布</li>
					<li>模板管理</li>
					<li>货代设置</li>
					<li>记录发布</li>
				</ul>
				<p>成交管理</p>
				<ul>
					<li>已成交</li>
					<li>待成交</li>
				</ul>
				<p>货源管理</p>
				<ul>
					<li>货源大厅</li>
					<li>网上车场</li>
					<li>身份验证</li>
				</ul>
				<p>业务统计</p>
				<ul>
					<li>发货量统计</li>
					<li>成交量统计</li>
				</ul>
			</div>				
			<!--内容-->
			<div class="body-content">
                
			</div>
		</div>
		<!--页脚-->
		<div class="body-footer">
			<div class="bf-con">
				<div class="bf-menu">
					<i class="bf-i"></i>
					<div class="bf-link">
						<div class="bf-item">
							<p>新手指南</p>
							<span>新手注册</span>
							<span>会员认证</span>
							<span>常见问题</span>
							<span>关于放心付</span>
						</div>
						<div class="bf-item">
							<p>陆鲸货主</p>
							<span>发布货源</span>
						</div>
						<div class="bf-item">
							<p>陆鲸司机</p>
							<span>查找货源</span>
						</div>
						<div class="bf-item">
							<p>联系合作</p>
							<span>关于我们</span>
							<span>联系我们</span>
							<span>合作加盟</span>
							<span>意见反馈</span>
						</div>
					</div>
					<div class="bf-flink">
						<p>友情链接</p>
						<span>易货滴</span>
						<span>运宝网</span>
						<span>易货宝</span>
					</div>
				</div>
			</div>
			<div class="bf-bottom">
				<p>copyright 2012-2016 All Right Reserved.浙ICP备14026855号-4</p>
			</div>
		</div>
		<!-- js引入 -->
		<!--[if lt IE 8 ]><script src="../../js/weiget/json2.js"></script><![endif]-->
		<script type="text/javascript" src="../../js/lib/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="../../js/weiget/getJson.js" ></script>
		<script type="text/javascript" src="../../js/weiget/base.js" ></script>
		<script type="text/javascript" src="../../js/lib/template.js"></script>
		<!--<script type="text/javascript" src="../../js/common/common.js" ></script>-->
		<script type="text/javascript" src="../../js/weiget/ieMode.js" ></script>
	</body>
</html>