<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="no-cache" http-equiv="pragma">
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
	<title>陆鲸-货主-订单</title>
	<!-- css引入 -->
	<link rel="stylesheet" href="../../css/common/reset-min.css" />
	<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/common/tf-pop-sp-pc.css"   />
	<!-- 业务中心-->
	<link rel="stylesheet" href="../../css/page/trade/trade.css" />
</head>

<body class="body-bg">
	<!--头部-->
	<div class="body-top"></div>
	<!--主体-->
	<div class="body-main">
		<!--菜单-->
		<div class="body-menu" id="tradeMenu"></div>
		<!--内容-->
		<div class="body-content">
			<div class="t-c-title">
				<span class="t-h2" id="subTilte">&nbsp;</span>
			</div>
			<div class="modal-cont">
				<form action="" id="searchForm">

					<div class="input-line goods-input-line">
						<input type="hidden" name="status" id="orderStatus" value="">
						<input type="hidden" name="agentpaystatus" id="orderPayStatus" value="">
						<span class="input-title">订单编号</span>
						<input type="text" class="t-c-input input-width3" placeholder="" name="ordercode" ids="goodssourcecode" />
							<span class="input-title">外部编号</span>
							<input type="text" class="t-c-input input-width3" placeholder=""  name="outcode" />
						
						<span class="input-title">下单时间</span>
						<div class="t-c-input-select t-c-input-select-date t-c-input-select-address">
							<input type="text" class="t-c-input input-width2" placeholder="" name="inputdatestart" id="starttime">
							<label class="t-c-input-icon"></label>
						</div>
						<span class="hen">-</span>
						<div class="t-c-input-select t-c-input-select-date t-c-input-select-address">
							<input type="text" class="t-c-input input-width2" placeholder="" name="inputdateend" id="endtime">
							<label class="t-c-input-icon"></label></div>
					</div>
					<div class="input-line goods-input-line" id="inputSearch">
						<span class="input-title" style="display: none">承运人</span>
						<input type="text" class="t-c-input input-width3" id="carLength" placeholder="" name="agentrealname" style="display: none"
						/>
						<span class="input-title">运输路线</span>
						<div class="t-c-input-select t-c-input-select-date t-c-input-select-address">
							<input type="text" class="t-c-input input-width2 proCitySelAll" id="fromaddress" placeholder="" name="from" />
							<label class="t-c-input-icon"></label>
						</div>
						<span class="hen">-</span>
						<div class="t-c-input-select t-c-input-select-date t-c-input-select-address">
							<input type="text" class="t-c-input input-width2 proCitySelAll" id="toaddress" placeholder="" name="to" />
							<label class="t-c-input-icon"></label>
						</div>&nbsp;<span class="t-c-submit history-s-btn" id="searchSubmit">查询</span>
						<span class="t-c-submit history-s-btn" id="searchReset">重置</span>&nbsp;
						<span class="t-c-submit history-s-btn" id="deleteBatch">批量删除</span>
					</div>
				</form>
					<div class="pagination paginationUp"></div>
				<table class="t-table" width="946" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th style="width:20px;display:none" id="checkBox">
								<input type="checkbox" class="all-check">
							</th>
							<th style="width:180px;">订单编号</th>
							<th style="width:100px;">外部编号</th>
							<th style="width:140px;" id="driverInfo">司机信息</th>
							<th style="width:140px;">运输路线</th>
							<th style="width:150px;">货物信息</th>
							<th style="width:200px;">费用信息</th>
							<th style="width:180px;">下单时间</th>
							<th style="width:120px;" id="finishTime">卸货时间</th>
							<th style="width:100px;display: none" id="control">操作</th>
						</tr>
					</thead>
					<tbody id="ajaxCont">

					</tbody>
				</table>

				<div id="Pagination" class="pagination">

				</div>
			</div>
		</div>
	</div>
	<!--页脚-->
	<div class="body-footer"></div>
	<!-- js引入 -->
	<!--[if lt IE 8 ]><script src="../../js/weiget/json2.js"></script><![endif]-->
	<script type="text/javascript" src="../../js/lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/weiget/getJson.js"></script>
	<script type="text/javascript" src="../../js/weiget/base.js"></script>
		<script type="text/javascript" src="../../js/weiget/tf-popup-sp-pc.js" ></script>
	<script type="text/javascript" src="../../js/weiget/placeholder.js"></script>
	<script type="text/javascript" src="../../js/lib/template.js"></script>
	<script type="text/javascript" src="../../js/weiget/ieMode.js"></script>
	<script type="text/javascript" src="../../js/weiget/iLocalStorage.js"></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script src="../../js/lib/jquery.pagination.js"></script>
	<!--<script type="text/javascript" src="../../js/common/tradeViewApi.js" ></script>-->
	<script type="text/javascript" src="../../js/common/dispatchView.js"></script>
	<script type="text/javascript" src="../../js/weiget/tradeFun.js"></script>
	<script src="../../js/lib/laydate/laydate.js"></script>
	<script type="text/javascript" src="../../js/weiget/moment.min.js"></script>
	<!--城市组件-->
	<script type="text/javascript" src="../../js/weiget/area_yasuo.js"></script>
	<script type="text/javascript" src="../../js/weiget/areadata-v2.0.js"></script>
	<script type="text/javascript" src="../../js/weiget/area_plugin.js"></script>

	<!--车长-->
	<script type="text/javascript" src="../../js/weiget/carlen_plugin.js"></script>

	<script type="text/javascript" src="../../js/page/order/ownerOrder.js"></script>

</body>

</html>